.list{

    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    font-weight: 600;
    font-size: medium;

    
    
}
.link1{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.link2{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.link3{
    text-decoration: none;
    color: black;
    font-weight: 600;
}