.tie1{
  
  margin: 0;
  padding: 0;
  border: 1px solid gray;
  height: 60px;
  
}
.header1{

    border-bottom: 2px solid gray;
    height: 70px;
}
.tie1 {
    display: inline;
    list-style-type: none;

 
}
 .imges {
    margin-left: 20px;
    
    display: flex;
    
    
}
.imges h6{
    margin-top: 5px;
    color: cornflowerblue;
}
.import1{
   margin-left: 85%;
   position: absolute;
   top:5px;
   display: flex;
   
} 
.import1 button{
    margin:12px;
    font-weight: 600;
    padding: 4px 10px 4px 10px;
    border: 2px solid;
    border-radius: 6px;
    

}

.data3{
    margin:12px;
    font-weight: 600;
    padding: 4px 10px 4px 10px;
    border: 2px solid black;
    border-radius: 6px;
    background-color: red;
    color:white;

}
.data3 input{
    display: none;
}